.jumbotron {
  margin-bottom: 0;
}
.jumbotron-title {
  background: transparent;

  p {
    font-size: 1.35rem;
  }
}

.jumbotron-podcast-single {
  h1 {
    margin-top: .35em;
  }
}

.podcast-archive-item {
  padding: 35px;
}

.series-accordion {
  box-shadow: $box-shadow;

  .podcast-archive-item .title-link {
    &:hover {
      background-color: transparent;
      color: $color__text-main
    }
  }

  .card-header {
    background: $color__background-light;
  }
  .card {
    background: $color__background-medium
  }
  .btn {
    text-decoration: none;
    color: $color__text-main;
    display: block;
    text-align: left;
    white-space: normal;
  }
}

.section-title {
  margin-bottom: 50px;
}

.podcast-single-body {
  .podcast_player, .podcast_meta {
    margin: 0 auto;
  }
}