.jumbotron {
  margin-bottom: 0;
}
.jumbotron-title {
  background: transparent;

  p {
    font-size: 1.35rem;
  }
}

.jumbotron-podcast-single {
  h1 {
    margin-top: .35em;
  }
}

.podcast-archive-item {
  padding: 35px;
}

.series-accordion {
  box-shadow: $box-shadow;

  .podcast-archive-item .title-link {
    background-color: transparent;
    color: $color__text-main;
    margin-bottom: 15px;
  }

  .entry-content {
    margin-top: 0;
  }

  .card-header {
    background: $color__background-light;
  }
  .card {
    background: $color__background-medium
  }
  .btn {
    text-decoration: none;
    color: $color__text-main;
    display: block;
    text-align: left;
    white-space: normal;
  }
  .btn-podcast-listen {
    display: inline-block;
    background: transparent;
    border: 3px solid $color__primary;
  }
}

.section-title {
  margin-bottom: 50px;
}

.podcast-single-body {
  .podcast_player, .podcast_meta {
    margin: 0 auto;
  }
}

.all-channels-row {
  margin-bottom: 50px;
}
.link-block {
  display: block;
  color: inherit;
}

.link-channel {
  padding: 15px;

  h3 {
    margin-bottom: 0;
  }
  img {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 0;
  }

  .text-muted {
    margin-bottom: 10px;
  }
}