.jumbotron {
  margin-bottom: 0;
}
.jumbotron-title {
  background: transparent;

  p {
    font-size: 1.35rem;
  }
}

.jumbotron-podcast-single {
  h1 {
    margin-top: .35em;
  }
}

.podcast-archive-item {
  padding: 35px;
}

.post-listing {
  margin-bottom: 35px;
}

hr {
  width: 50px;
  height: 3px;
  background: $color__primary;
  outline: none;
  border: none;
  margin: 0 auto 4rem auto;
}

.post, .page {
  .post-content {
    font-size: 18px;
  }

  .entry-content {
    margin-top: 0;

    p {
      color: darken($color__text-main, 10)
    }

    h3, h4, h5, h6 {
      margin-top: 30px;
      margin-bottom: 15px;
      font-weight: 700;
    }
  }
}

.series-episodes {
  margin-bottom: 4rem;
}

.series-accordion {
  box-shadow: $box-shadow;

  .podcast-archive-item .title-link {
    background-color: transparent;
    color: $color__text-main;
    margin-bottom: 15px;
  }

  .entry-content {
    margin-top: 0;
  }

  .card-header {
    background: $color__background-light;
  }
  .card {
    background: $color__background-medium
  }
  .btn {
    text-decoration: none;
    color: $color__text-main;
    text-align: left;
    white-space: normal;
  }
}

.section-title {
  margin-bottom: 50px;
}

.podcast-single-body {
  .podcast_player, .podcast_meta {
    margin: 0 auto;
  }
}

.all-channels-row {
  margin-bottom: 50px;
}
.link-block {
  display: block;
  color: inherit;
}

.link-channel {
  padding: 15px;

  h3 {
    margin-bottom: 0;
  }
  img {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 0;
  }

  .text-muted {
    margin-bottom: 10px;
  }
}

#login {
  .message {
    color: $color__text-input
  }

  #loginform, #lostpasswordform {
    background: $color__background-medium;

    .button-primary {
      background: $color__primary;
      border-bottom-color: darken($color__primary, 20);
      text-shadow: none;
      color: $color__background-body;
    }
    p {
      label {
        color: $color__text-main
      }
    }
  }

  #nav, #backtoblog {
    a {
      color: $color__primary;

      &:hover {
        color: $color__background-body;
      }
    }
  }
}

.archive-title {
  margin-bottom: 100px;
}

.home, .explore-page {
  background: $topograph;
  color: $color__background-body;

  .filtered-result, .hosts-row .host, .voice-row .voice, .similar {
    a {
      color: $color__background-body;
      display: block;
      padding: 25px;

      &:hover {
        color: $color__background-body;
        background-color: $color__primary;
      }

      p {
        margin-bottom: 10px;
      }

      ul {
        margin: 0;
      }
    }
    img {
      margin-bottom: 15px;

      box-shadow: 5px 5px 25px rgba(50, 50, 50, 0.15);
    }
  }

  .site {
    padding-bottom: 150px;
  }

  a {
    color: $color__text-main;

    &:hover {
      color: lighten($color__background-body, 10)
    }
  }
  #masthead {
    background: transparent !important;
    box-shadow: none;

    a {
      color: lighten($color__background-body, 15);

      &:hover {
        color: darken($color__background-body, 20)
      }
    }
    .dropdown-menu {
      margin-top: -15px;
      background: #f4B300 !important;
      outline: none;
      border: none;
      box-shadow: 0 10px 30px 0 rgba(199, 147, 3, 0.5);
    }
  }

  .site-title {
    margin: 50px 0 100px 0;

    .display-2 {
      margin-bottom: 35px;
    }
    p {
      font-size: 20px;
    }
  }

  footer {
    background: transparent;
  }
}

.row-mb {
  margin-bottom: 50px;
}

.explore-page {
  .site-title {
    margin-bottom: 50px;
  }

  .explore-form-row {
    font-size: 18px;
    margin-bottom: 100px;

    label {
      margin-bottom: 0;
      font-size: 22px;
    }

    > div {
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 100%
    }

    @media (min-width: 768px) {
      > div {
        display: contents;
      }
    }
  }

  .explore-dropdown {
    max-width: 150px;
    margin-left: 15px;
    margin-right: 15px;

    .ss-single-selected, .ss-multi-selected, .ss-content {
      background-color: $color__background-body;
      border: none;
      outline: none;
      color: $color__text-main;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .ss-single-selected, .ss-multi-selected {
      height: 100%;
      padding: 15px;
    }

    .ss-option {
      transition: all .2s ease;
    }

    .ss-content .ss-list .ss-option.ss-disabled {
      background-color: $color__background-body;
    }

    .ss-content .ss-list .ss-option.ss-highlighted, .ss-content .ss-list .ss-option:hover {
      background-color: $color__background-body;
      color: $color__primary;
    }
  }

  .explore-multi {
    max-width: 300px;

    .ss-values .ss-value {
      color: $color__background-body !important;
      background-color: $color__primary !important;
    }
  }

  .filtered-title {
    margin-bottom: 50px;
  }

  .filtered-result-row {
    margin-bottom: 50px;
  }

  .explore-featured-podcasts-items {
    .explore-featured-item {
      img {
        margin-bottom: 30px;
      }
      a {
        color: $color__background-body;
        display: block;
        padding: 30px;

        h3 {
          margin-bottom: 10px;
        }
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
}

.profile-img {
  border-radius: 50%;
  margin-bottom: 25px;

  box-shadow: 5px 5px 25px rgba(50, 50, 50, 0.15);
}

.profile-info {
  padding: 0 15px;
}

.hosts-row .host, .voices-row .voice, .similar-row .similar {
  a {
    color: $color__text-main;

    &:hover {
      color: $color__background-body;
      background-color: $color__primary;
    }
  }
}

.voices, .hosts, .podcast-similar {
  .title-row {
    margin-bottom: 50px;
  }

  margin-bottom: 100px;
}

.podcast-hosts-voices, .podcast-similar {
  margin-top: 100px;

  .title-row {
    margin-bottom: 25px;
  }
}

.recent-podcast {
  img {
    margin-bottom: 25px;
  }
  h3 {
    margin-bottom: 10px;
  }
}

.similar {
  flex-grow: 1;
  > a {
    height: 100%;
  }
}

.home-recent-people-container {
  margin-bottom: 100px;
}

@import "map";