button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: transparent;
  border: 3px solid $color__primary;

  &:hover {
    background-color: $color__primary;
    border-color: $color__primary;
    color: $color__background-body
  }
}

.btn-outline {
  display: inline-block;
  background: transparent;
  border: 3px solid $color__primary;

  &:hover {
    border-color: $color__primary;
  }

  &:focus {
    background: $color__primary;
  }
}
