a {
  color: $color__link;
  transition: .2s ease;
  padding: 0 2px;
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: 0;
  }
  &:hover:not(.nav-link) {
    background-color: $color__primary;
    color: $color__background-body;
    text-decoration: none;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}
