.navbar {
  box-shadow: $box-shadow;
  padding: 0 50px;
  line-height: 80px;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: $color__primary;
}

.dropdown-menu {
  right: 0;
  left: inherit;
  margin-top: 15px;
  background-color: $color__background-nav !important;
  box-shadow: $box-shadow;
  line-height: 22px;

  a {
    transition: all .2s ease;
    color: rgba(255,255,255,.5);
    &:hover {
      color: $color__primary;
      background-color: inherit;
    }
  }
}

.bg-dark {
  background-color: $color__background-nav !important;
}